[submodule "oh-my-zsh"]
	path = shell/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/vim/bundle/vundle"]
	path = vim/vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
